<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<section class="comments">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Body</th>
                <th scope="col">Post Id</th>
                <th scope="col">User Name</th>
                <th scope="col">Update At</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment: ${comments}">
                <th th:text="${comment.id}" scope="row"/>
                <td th:text="${comment.body}" />
                <td th:text="${comment.postId}" />
                <td th:text="${comment.userName}" />
                <td th:text="${comment.updatedAt}" />
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
